*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --opacity:0.75;
}
html{
    font-size: 16px;
}
body{
    background-color: #faf6f7;
}
.container{
    max-width: 25rem;
    border: 1px solid silver;
    border-radius: 15px;
    transition: all 0.5s ease in;
   
}
.container:hover{
    -webkit-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75); 
    cursor: pointer;

}
img, pictures{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.boxes{
    padding:1.8em ;
    border-radius: 15px;
}
.boxes h1{
    font-size: 1.25rem;
    margin-bottom: 0.7em;
}
.boxes h3{
    opacity: var(--opacity);
}
.boxes p{
    opacity: var(--opacity);
    margin-top: 0.35em;
}
.boxes .btn{
    background-color: silver;
    border: none;
    padding: 0.8em 1.16em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.98rem;
    display: inline-block;
    margin-top: 2em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 10px 0 0 10px;
    gap: 20px;
    /* padding:0 10%; */
}
@media screen and (min-width:768px) {
    main{
        display: flex;
        flex-direction: row;
        padding: 5%;
    }
    .container{
        max-width: 300px;
    }
    
}